<h1>Make your form here</h1>

<form action="/" method="post">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]">
  Ship Type: <input type="text" name="pirate[ships][][type]">
  Ship Booty Attributes: <input type="text" name="pirate[ships][][booty_attributes]">
  <input type="submit">
</form>


#Data structure for reference
#params = {
#  "pirate" => {
#    "name" => "Vic",
#    "weight" => "12",
#    "height" => "5",
#    "ships" => [
#      {
#        "name" => "The Flying Dutchman",
#        "type" => "Haunted",
#        "booty_attributes" => "X"
#      },
#      {
#         "name" => "The Flying Dutchman",
#        "type" => "Haunted",
#        "booty_attributes" => "X"
#      }
#    ]
#  }
#}
